html, body {
  height: 100%;
  margin: 0px;
}

.myheader {
  min-height: 40px;
  -webkit-app-region: drag;
  -webkit-user-select: none;
  display: flex;
}

.myheader .no-drag {
  -webkit-app-region: no-drag;
}

.myheader .mybuttons {
  display: flex;
  margin: 0 0.5rem;
  align-items: center;
  justify-content: center;
}

.myheader .mybuttons:hover .mybutton {
  background-color: red;
}

.myheader .mybuttons .mybutton {
  flex: 0 auto;
  box-sizing: border-box;
  display: inline-block;
  background: white;
  margin-right: 8px;
  height: 12px;
  width: 12px;
  border: 1px solid #d3d3d3;
  border-radius: 6px;
  box-shadow: 0px 1px 1px 0px rgba(234, 234, 234, 0.5);
  -webkit-app-region: no-drag;
}

.myheader .mybuttons:hover .mybutton-minimize {
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAAXNSR0IArs4c6QAAAB9JREFUGBljYBj8gBHqxBQgrYTDufeA4nOYcEgOSWEAs+kCBJXAbkEAAAAASUVORK5CYII=');
}

.myheader .mybuttons:hover .mybutton-close {
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAAXNSR0IArs4c6QAAAItJREFUGBmdkDEKg0AQRcckpPUS6QISL2KVJte0zxksLARvYqXvLZkQCETIh+fszs78GYz4Qwd6qo8+z+aKjq9o4g4XmMGiDhqYYD3xUSss0HpBFt5gAN8iHT3rVMMDrvCEHkrhewcSSicfMporSsfcydE6jeDZCU6K3NHCM7iT41Lmvtx//p7s3I0bFaQTgoXhdZYAAAAASUVORK5CYII=');
}

.myheader .mybuttons .mybutton:hover {
  box-shadow: 0px 1px 1px 0px rgba(195, 198, 201, 0.5);
}

.myheader .mybuttons .mybutton:hover:active {
  cursor: default;
  -webkit-filter: brightness(92%);
}

.myheader .mybuttons .mybutton.mybutton-close {
  background-color: #ff5f52;
  border-color: #e33e32;
}

.myheader .mybuttons .mybutton.mybutton-minimize {
  background-color: #ffbe05;
  border-color: #e2a100;
}
