<ion-header-bar class="myheader bar bar-header bar-dark">
    <div class="mybuttons">
        <div class="mybutton mybutton-close enabled" onClick="require('remote').getCurrentWindow().close() "></div>
        <div class="mybutton mybutton-minimize enabled" onClick="require('remote').getCurrentWindow().minimize()"></div>
        <!-- <div class="mybutton mybutton-fullscreen enabled"  onClick="require('remote').getCurrentWindow().maximize()"></div> -->
    </div>
    <h1 class="title">Main Window</h1>
</ion-header-bar>

<ion-content overflow-scroll="true">
    <button ng-click="openChild()"> open child window </button>
</ion-content>
